body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

.layout {
  min-width: 900px;
}

.common {
  min-height: 60px;
  line-height: 24px;
  font-size: 24px;
  height: 60px;
  padding: 10px;
  //vertical-align: top;
}

.value {
  vertical-align: top;
  .label {
    float: left;
    width: 200px;
    display: inline-block;
  }
  .value {
    float: left;
    display: inline-block;
  }
}

.progress {
  .percentage {
    float: left;
    height: 24px;
    line-height: 12px;
    width: 100px;
    border: solid 1px;
    .bar {
      height: 24px;
      background-color: gray;
    }
  }
}

.field {
  .action {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    background-color: #bbb;
    display: inline-block;
    height: 24px;
    padding: 5px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    float: left;
  }
  .action.disabled {
    color: gray;
  }
  .details {
    float: left;
    font-size: 0;
    height: auto;

    .heading {
      font-size: 24px;
      width: 200px;
      display: inline-block;
    }
    .value {
      display: inline-block;
      font-size: 24px;
    }
    .needs {
      font-size: 12px;
      line-height: 12px;
    }
  }
}

.details { padding-top: 5px; }

