.layout {
  .row {
    vertical-align: top;
    overflow: hidden;
    .column {
      font-size: 24px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      vertical-align: top;
    }
  }
}